.week-slider {
  position: relative;
  margin: 6rem 0 5rem;
  padding: 0 0 4rem;
}
.week-slider__card {
  text-align: center;
  width: auto;
}

.week-slider__image-wrapper {
  height: 350px; /* подбери под свои картинки */
  display: flex;
  align-items: center;   /* центр по вертикали */
  justify-content: center; /* центр по горизонтали */
}

.week-slider__image {
  height: auto;
  width: auto;
  max-height: 100%;
  display: block;
}


.week-slider__title {
  text-align: center;
  margin: 0 0 2.2rem;
  font-size: 2.25rem;
  font-weight: 700;
}

.week-slider__swiper {
  position: relative;
  z-index: 1;
  padding: 0 4.8rem;
}


.week-slider__year {
  margin: 0.4rem 0 0.1rem;
  font-size: 0.72rem;
}

.week-slider__name {
  margin: 0;
  font-size: 2.1rem;
  font-weight: 500;
}

.week-slider__progress {
  position: relative;
  z-index: 1;
  width: 16rem !important;
  height: 0.24rem;
  margin: 2.8rem auto 0 !important;
  background: #333;
  border-radius: 999px;
}

.week-slider__arrow {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  z-index: 2;
  width: 2.6rem;
  height: 2.6rem;
  border: none;
  border-radius: 999px;
  background: rgba(17, 17, 17, 0.85);
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.week-slider__arrow--prev {
  left: 1rem;
}

.week-slider__arrow--next {
  right: 1rem;
}

.week-slider__arrow:hover {
  background: #111;
}
